<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="components/landing-page/landing-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap" rel="stylesheet">
    <script src="components/landing-page/landing-page.js"></script>
</head>
<body>
    <div class="welcome-page-container">
        <div class="text-container">
            <div class="ahcy"></div>
            <div class="neko-2"></div>
            <div class="yang"></div>
            <div class="short-stack-bold">Happy Anniversary!!!</div>
            <div class="short-stack-regular">Here's to many more years of joy and togetherness!</div>
            <div class="icon-container">
                <span class="decorative-icon-1">⭐</span>
                <span class="decorative-icon-2">❤️</span>
            </div>
        </div>
        <!-- <div class="welcome-bg"> -->
        <div class="welcome-image">
        <!-- </div> -->
            <!-- <div class="angel-welcome"></div> -->
        </div>
    </div>
</body>
</html>
