<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="components/landing-page/landing-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="welcome-page-container">
        <div class="text-container">
            <div class="concert-one-regular">Happy<br>Anniversary!!!</div>
            <div class="short-stack-regular">Here's to many more years of joy and togetherness!</div>
        </div>
        <!-- <div class="welcome-bg"> -->
            <div class="welcome-page">
        <!-- </div> -->
            <!-- <div class="angel-welcome"></div> -->
        </div>
    </div>
</body>
</html>
